.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    /*min-width: 50px;*/
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-square-check {
    color: rgba(12, 96, 2, 0.96);
}
.list-group-item .btn-person-running {
    color: rgba(4, 184, 243, 0.96);
}

.list-group-item .btn-trash {
    color: #e5383b;
}

.name-span {
    color: #797171;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group-item.done .list-group-item-label{
    color: #7efa02;
    text-decoration: line-through;
}
.list-group-item.processTodo .list-group-item-label{
    color: rgba(4, 184, 243, 0.96);
    text-decoration: underline;
}
.list-group-item.is-edit .list-group-item-label{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.20);
    background: rgb(230, 232, 253);
}