
.app-add-form {
    width: 600px;
    height: 369px;
    padding: 10px 25px 20px 25px;
    background-color: #90a9e7;
    border-radius: 0 15px 15px 0;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
    color: #fff;
    text-align: center;
}

.add-form {
    margin-top: 43px;
    height: 250px;
}

.add-form textarea {
    max-height: 80%;
    height: 80%;
    width: 100%;
    margin-right: 20px;
}

.btn-outline-light {
    margin: 10px;
    width: 100px;
    height: 50px;
}

