.App {
  padding:50px 50px;
  max-width: 1000px;
  height: 600px;
  background-color: burlywood;
}

.left {
  display: inline-block;
  width: 34%;
}
.right {
  display: inline-block;
  vertical-align: top;
  width:65%;
}


